<% @page_title="Edit Subject" %>
<%= link_to("<< Back to Menu", {:controller => 'access', :action=> 'menu'}, :class => 'back-link') %>
<%= link_to("<< Back to Subjects List",{:action=> 'list'}, :class => 'back-link') %>

<div class="subject edit">
  <h2>Update Subject</h2>

  <%= form_for(:subject, :url=>{:action=> 'update', :id=> @subject.id
  }) do |f| %>

<%= render(:partial => "form", :locals => {:f=> f}) %>

      <div class="button-container">
       <%= submit_tag('Update Subject')  %>
      </div>
      <% end %>
</div>
