<!DOCTYPE html>
<html>
<head>
  <title>Town Incorporation Of Massanutten : <%= @page_title || '' %> </title>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
  <meta name="description" content="This website reports on the feasibility of incorporating the community of Massanutten, Virginia into town. The website is designed to provide information on what town incorporation in Virginia is all about and what Massanutten would look like if it became a town to include community, infrastructure, law enforcement, parks, government, and budget aspects"/>
  <meta name="keywords" content="massanutten,virginia,incorporation,town,boundaries,town map,community,infrastructure,town police,law enforcement,town government,town administration,town budget"/>
  <meta name="author" content="Gene Hauze">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=8" />-->
  <!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />-->
  <meta name="robots" content="index, nofollow"/>
  <meta name="robots" content="noarchive"/>
  <%= render 'layouts/stylesheets' %>

    <script type="text/javascript">
    $(document).ready(function() {
        $("#viewport").mapbox({mousewheel: true});
    });
</script>
</head>

<body>
<div class="container">
  <nav class="sub-menu">
             <%=link_to image_tag('home.png', :alt=>"Home", :class =>"round"), :controller => 'home', :action => "index" %></nav>
  <div class="clearfloat"></div>
  <%= render 'layouts/header' %>

  <div class="round" id="sidebar1">

    <nav class>
      <%= render_navigation :level => 1..2 %>

      <!-- end nav --></nav>

    <!-- end #sidebar1 --></div>
  <div id="content">
    <div id="breadcrumbs"><%= render_navigation :renderer => :breadcrumbs, :join_with => " &gt;&gt; " %><!-- end #breadcrumbs --></div>
    <div class="clearfloat"></div>
    <div class="sections">
      <%= yield %></div>
    <!-- end #content --></div>
  <div id="sidebar2"><%=  %>
    <!-- end .sidebar2 --></div>
  <%= render 'layouts/footer' %>

  <!-- end container --></div>

</body>
</html>
